/* 기본*/
:root {
    --bg-main-color: #f5f5f541;
    --bg-sub-color: rgba(0, 0, 0, 0.192);
}
body {
    background-image: url(SSM00259-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
}
header {
    background-color: var(--bg-main-color);
    text-align: center;
    padding: 20px;
}
main {
    background-color: var(--bg-main-color);
    padding: 20px;
    margin: 20px;
    text-align: center;
}
/* index */
.codes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    background-color: var(--bg-main-color);
    padding: 20px;
    margin: 20px;
}
.codes a:nth-child(odd) {
    background-color: var(--bg-sub-color);
}
.codes a:nth-child(even) {
    background-color: var(--bg-main-color);
}



/* 여기서부턴 html-code*/

